.kufar a, .tele a {
  margin-right: 5px; /* расстояние внутри блока */
}


.kufar {
  display: flex;
  justify-content: flex-end; /* или flex-start / center */
  align-items: center;
  gap: 15px;
  margin-left: -17px;
  flex-wrap: wrap; /* чтобы не вылазили за экран */
}

.kufar img {
  height: 40px;
  margin-left: -10px;
  width: auto;
}
.tele {
  display: flex;
  justify-content: flex-end; /* или flex-start / center */
  align-items: center;
  gap: 1px;
  margin-left: 0px;
  flex-wrap: wrap; /* чтобы не вылазили за экран */
}
.gll {
  display: flex;
  justify-content: flex-end; /* или flex-start / center */
  align-items: center;
  gap: 0px;
  flex-wrap: wrap; /* чтобы не вылазили за экран */
}


.tele img {
  height: 30px;
  margin-left: -1px;
  width: auto;
}
.kufar, .tele, .gll {
  display: flex;
  align-items: center;
  gap: 0px;
  
}
header nav {
  display: flex;
  align-items: center;  /* выравнивает текст и картинки по центру */
  gap: 20px;            /* расстояние между элементами */
}

header nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  display: flex;        /* и ссылка сама тоже флекс */
  align-items: center;  /* чтобы текст и иконка в ней были на одной линии */
  gap: 6px;             /* расстояние между текстом и иконкой */
}